<div class="full-page">
    <div class="navbar">
        <div>
            <h1 class="head">TICKET BOOKING SYSTEM</h1>
        </div>
        <nav>
            <ul id='MenuItems'>
                <!-- <li><button [routerLink]="['/home']">Home</button></li> -->
               <li> <button routerLink="/login" class='logoutbtn' (click)="logout()" >Logout</button> </li>
            </ul>
        </nav>
    </div>
  
    <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="btn">
                        <a class="heading" routerLink="/addbus">ADD BUS</a>
                        
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                 
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="btn">
                        <a class="heading" routerLink="/buslist">VIEW BUS</a>
                        
                    </button>
                </h3>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="btn" >
                        <a class="heading" routerLink="/addbusroute">ADD BUS ROUTE</a>
                        
                    </button>
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h5 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="btn" >
                        <a class="heading" routerLink="/busroutelist">VIEW BUS ROUTE</a>
                        
                    </button>
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                 
                </div>
            </div>
        </div>
    </div>
   
  
   
    
</div>
