<div class="full-page">
    <div class="navbar">
        <div>
            <h1 class="heading">TICKET BOOKING SYSTEM</h1>
        </div>
        <nav>
            <ul id='MenuItems'>
                <!-- <li><a href='#'>Home</a></li>
                <li><a routerLink="/bookticket" >Book Ticket</a></li>
                <li><a href='#'>About Us</a></li> -->
                <li><button [routerLink]="['/adminhome']">Home</button></li>
                <!-- <li><a href='#'>Cancel Ticket</a></li> -->
              
               </ul>
        </nav>
        <div class="col-md-12">
            <div class="container">
              <form [formGroup]="addBusRouteForm"  (ngSubmit)="addBusRoute()">
               <div  class="form-group"> <label for="booked seats">Booked Seats<sup class="text-danger">*</sup></label>
                <input type="text" name="bookedseats" id="bookedseats" formControlName="bookedSeats" placeholder="enter booked seats" required>
                
            </div>
           
                 <div  class="form-group"> <label for="date">Journey Date<sup class="text-danger">*</sup></label>
                  <input type="date" name="journeydate" id="number" formControlName="journeyDate" placeholder="enter journey date" required>
                  
              </div>
              
                
               <div class="form-group"><button [routerLink]="['/busroutelist']" class="btn btn-outline-dark" (click)="addBusRoute()">Add Bus Route</button></div>
              </form>
    
    
            </div>
          </div>
    </div>

</div>


